*{
    margin: 0%;
    padding: 0%;
}

/* Início fontes externas*/

/* Fim Fontes externas*/

img{
    max-width: 100%;
}

/*Início topo do menu do site*/

.one{
    width: 100%;
    height: 4px;
    background: #CD5C5C;
}

.header{
    width: 100%;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    padding: 25px;
}

.topo{
    text-align: right;
}

.topo ul li{
    display: inline-block;
    margin-left: 30px;
    margin-top: 60px;
}

.topo ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 15px;
    padding-bottom: 30px;
}

.topo ul li a:hover{
    color: #DC143C;
    text-shadow: gray 2px 2px 8px;
}

/*Fim do menu do site*/

/*Início do banner do site*/

.banner{
    width: 100%;
    height: 400px;
    background: url(/Img/Banner.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
}

.banner h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 57px;
    font-weight: bold;
    color: white;
    margin-top: 110px;
    margin-bottom: 50px;
    text-shadow: black 2px 2px 10px;
}

.banner a{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 25px 20px;
    width: 50px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    box-shadow: black 2px 2px 10px;
    color: #CD5C5C;
}

.banner a:hover{
    color: #DC143C;
    transition: 0.3s;
    box-shadow: 2px 2px 10px;
}

/*Fim do banner do site*/

.gourmet{
    margin-top: 75px;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    color: rgb(210, 127, 39);
    text-transform: uppercase;
}

.gourmet p{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: rgb(127, 100, 82);
}

.combos{
    margin-top: 75px;
}

.combos li{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 10px;
}

.combos img{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.combos img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.combos h3{
    background:rgb(243, 204, 110);
    color: rgb(210, 127, 39);
}

.combos p{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(127, 100, 82);
    text-transform: initial;
    text-align: center;
}

.combos h4 a{
    background-color: green;
    padding: 10px;
    color: rgb(243, 204, 110);
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    line-height: 65px;
}

.combos h4 a:hover{
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    color:#DC143C;
    transition:0.8 all;
}

/*Fim do combos do site*/

/*Início do slide de acompanhamentos*/

.slide{
    margin-top: 20px;
    flex: none;
}

.slide h3{
    margin-top: 75px;
    padding-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: rgb(210, 127, 39);
}

.slide p{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 70px;
    color: rgb(127, 100, 82);
}

.bebidas{
    display: flex;
    overflow-x: auto;
}

.bebidas img{
    margin-left: 50px;
    width: 300px;
    height: 300px;
}
/* Fim dos slides do site*/

/* Início mapa de localização*/
.localizacao h2{
    margin-top: 75px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: rgb(210, 127, 39);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.localizacao p{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: rgb(127, 100, 82);
    padding-bottom: 15px;
}

.localizacao2{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    text-align: center;
    margin-bottom: 50px;
}
.localizacao{
    text-align: center;
}
/*Fim do Mapa de localização*/

/*Início do rodapé ou footer*/

.rodape{
    width: 100%;
    height: 60px;
    padding: 15px;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}

.rodape{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
/*Fim do rodapé do site*/

/*Início Scrollbar*/
::-webkit-scrollbar{
    width: 4px;
    background:  #c43a30;
}

::-webkit-scrollbar-thumb{
    background: #CD5C5C;
}

